* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#frame, #text {
    width: 20rem;
    height: 20rem;
}

#frame {
    background-color: black;
    transition: background-color, width;
    transition-duration: 6s;
    transition-timing-function: ease-in-out;
    transition-delay: 500ms;
}

#frame:hover {
    background-color: grey;
    width: 30rem;
}

#text p {
    color: purple;
    font-size: 1rem;
    transition: color, font-size;
    transition-duration: 5s;
    transition-timing-function: ease;
    transition-delay: 2s, 0s;
}

#text:hover p {
    color: orangered;
    font-size: 10rem;
}